$largeImage: 240px;
$smallImage: 80px;

$largePadding: 20px;
$smallPadding: 10px;

#pane {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  // justify-content: flex-end;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: .1s;
  text-align: center;

  background-color: rgba(255,255,255,0.9);
  border: 2px dashed rgba(4,60,94,.5);

  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}


html[data-theme='dark'] {
  #pane {
    background-color: #0a2235;
    border: 2px dashed rgba(4, 60, 94, .5);
  }
}

.large {
  padding: $largePadding;
  &:before {
    background-size: $largeImage;
  }
}

.small {
  padding: $smallPadding;
  &:before {
    background-size: $smallImage;
  }
}

@media only screen and (max-width: 980px) {
  #pane {
    max-height: calc(100% - 40px);
    overflow-y: scroll;
  }
}
