#sidebar {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info {
  font-size: 10px;
  opacity: 0.6;
}

#header {
  margin: 20px;
}
