node_modules
dist
examples/**/dist
examples/**/.cache
coverage
.DS_Store
local.log
browserstack.err
.env
log
results
credentials.yml
diff.png
upscaled.png
scratch
*.generated.ts
.vscode
yarn-error.log
.yarnrc
.parcel-cache
*.tsbuildinfo
.yarn
.pnpm-debug.log
umd-tmp
*.tgz
yarn.lock
test/**/package-lock.json
test-output
tmp
.nyc_output
