node_modules
dist
examples/**/dist
examples/**/.cache
coverage
.DS_Store
local.log
browserstack.err
.env
log
results
package-lock.json
credentials.yml
diff.png
upscaled.png
scratch
packages/upscalerjs/src/tfjs.ts
*.generated.ts
.vscode
yarn-error.log
.yarnrc
.parcel-cache
*.tsbuildinfo
.yarn
.pnpm-debug.log
umd-tmp
*.tgz
