#starting {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: default;
  flex: 1;
  z-index: 2;

  sl-alert {
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    max-width: 240px;
    margin: 0 auto 20px auto;
    text-align: center;
    display: table;

    thead tr {
      border-bottom: none;
    }

    tr {
      transition-duration: .1s;

      &.active {
        cursor: pointer;

        &:hover {
          transition-duration: 0s;
          color: #0284c7;
        }
      }

      input[type="radio"] {
        margin: 0;
        padding: 0;
      }

      td {
        padding: 0;

        div {
          padding: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:nth-child(3n+1) {
          width: 24px;
        }

        &:nth-child(3n+2) {
          font-weight: bold;
        }
      }

      th {
        padding: 0;
      }
    }
  }

}

#options {
  display: flex;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  a {
    // flex: 1;
    // text-align: right;
    display: flex;
    // justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  #left {
    flex: 1;
  }

  #right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

#customPatchSizeContainer {
  padding: 0;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);

  #customPatchSize {
    border-radius: 0;
    background: none;
    border: none;
    height: 100%;
    display: block;
    width: 100%;
    flex: 1;
  }
}

html[data-theme='dark'] {
  #customPatchSizeContainer {
    background-color: #030f1a;
  }
}
