$height: 300px;
$stackblitz_footer_height: 32px;
$codesandbox_footer_height: 23px;
$dragger_bottom_padding: 10px;
.container {
  position: sticky;
  z-index: 1;
  top: 60px;
  text-align: center;
  height: $height;
  margin-bottom: 40px;

  iframe.iframe {
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    z-index: 1;
  }

  .dragger {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    position: relative;
    user-select: none;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: $dragger_bottom_padding;
    // background: rgba(255,255,255,0.4);
    &.active {

    // background: rgba(255,255,255,0.8);
    }
    z-index: 5;

    &:hover, &:active {
      opacity: 1;
    }

    &:active {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    &.stackblitz {
      height: calc($stackblitz_footer_height + $dragger_bottom_padding);
      margin: calc(-7px - $stackblitz_footer_height) 200px 0 200px;
    }

    &.codesandbox {
      height: calc($codesandbox_footer_height + $dragger_bottom_padding);
      margin: calc(-7px - $codesandbox_footer_height) 200px 0 200px;
    }
  }

  @media (max-width: 997px) {
    iframe {
      position: relative;
      width: 100%;
      height: 400px;
      left: 0;
      top: 0;
    }
  }
}

iframe.iframe {
  width: 100%;
  height: 400px;
  z-index: 2;
}
