#container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  margin-left: -25%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
}

@media only screen and (max-width: 980px) {
  #container {
    font-size: 14px;
    left: 50%;
    width: 84%;
    margin-left: -42%;
    // height: calc(100% - 160px);
  }
}

html[data-theme='dark'] {
  #dialogue {
    background-color: #0a2235;
  }
}
