.heroBanner {
  --fade-primary: yellow;

  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background-color: var(--off-background-color);
  color: var(--ifm-font-color-base);

  & > div {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }

  code {
    display: block;
    position: relative;
    margin: 28px 0 20px 0;
    padding: 10px 40px;
    background: transparent;
    text-align: center;
    cursor: pointer;

    svg {
      position: absolute;
      top: 5px;
      right: 5px;
      opacity: .4;
      transition-duration: 0.2s;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &.copied {
      svg {
        animation-name: fade;
        animation-duration: 1s;
      }
    }
  }

  .demo {
    background-color: #dce9fd;
    border: 0.1em solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    width: 768px;
    height: 407px;

    .demoInner {
      background-size: cover;
      background-image: url('/assets/demo.png');
      height: 100%;
    }

    img, video {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #dce9fd;
    }
  }
}

[data-theme='dark'] {
  .heroBanner {
    --fade-primary: rgb(156, 68, 0);
    code {
      background: rgba(255,255,255,0.1);
      border-color: rgba(255,255,255,0.4);
    }
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;

    .demo {
      height: auto;
      width: auto;
      max-width: 100%;
    }
  }
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;

  span span {
    display: flex;
  }
}

@keyframes fade {
  from {color: var(--fade-primary);}
  to {color: inherit;}
}

[data-theme='dark'] {
  @keyframes fade {
    from {color: var(--fade-primary);}
    to {color: inherit;}
  }
}
