#board {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: repeating-conic-gradient(
    #fff 0 90deg,
    #c0d5e6 0 180deg) 
  0 0/100px 100px round;
}

html[data-theme='dark'] {
  #board {
    background: repeating-conic-gradient(
      #00080f 0 90deg,
      #15232e 0 180deg) 
    0 0/100px 100px round;
  }
}
