.testimonials {
  width: 100%;
  .tweets {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 996px) {
  .testimonials {
    .tweets {
      display: block;
      .tweet {
        width: 100%;

        div {
          display: flex;
          justify-content: center;
          width: 100%;
        }

        &:nth-child(4n),
        &:nth-child(5n),
        &:nth-child(6n) {
          display: none;
        }
      }
    }
  }
}
  