<html>
  <head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>UpscalerJS Integration Test: ESM via ESBuild</title>
    <style>
      h1 { font-size: 100px; }
    </style>
  </head>
<body>
  <h1 id="output">Loading...</h1>
  <script src="./index.js"></script>
</body>
</html>
