.modelTooltip {
  background: transparent;
  width: 442px;
  height: 442px;
  overflow: hidden;
  position: relative;
  color: inherit;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      border: none;
      background: inherit;
    }

    td {
      vertical-align: top;
      border: none;
      padding: 0;
    }
  }

  h1:first-child {
    font-size: 20px;
    margin: 0;
    padding: 0;

    a {
      color: inherit;
    }
    .packageName {
      color: inherit;
    }
  }

  p {
    margin: 0;
  }

  img {
    diplay: block;
  }
}
