#sidebar {
  position: absolute;
  right: -180px;
  width: 200px;
  height: 100%;
  background: rgba(235,235,235,0.6);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-property: right;
  transition-duration: .4s;

  &.open {
    right: 0;
  }

  #header {
    padding: 0 20px 20px 20px;
    border-top: 16px solid rgba(255,255,255,0.8);
  }
}


html[data-theme='dark'] {
  #sidebar {
    background: rgba(4, 11, 17, 0.6);
    
    #header {
      border-top-color: rgba(0,0,0,1.0);
    }
  }
}

.info {
  font-size: 10px;
  opacity: 0.6;
}

#toggle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
  transition-property: transform;
  transition-duration: .4s;
  transform: rotate(0deg);

  &.open {
    transform: rotate(180deg);
  }
}
