body {
  padding: 40px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
}
* {
  box-sizing: border-box;
}
#root {
  display: flex;
}
html, body, #root {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#image-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  margin-bottom: 30px;
}

.input:last-child {
  margin-right: 0;
}

.input label {
  margin-bottom: 20px;
}

button#upscale {
  width: 120px;
  height: 40px;
}

table#upscaled-image {
  border-collapse: collapse;
}

table#upscaled-image td {
  padding: 5px;
}
