#controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

#progress {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-left: 0;
  width: calc(100% - 0px);
  padding: 0 20px;
  bottom: 20px;
  transition-duration: .4s;

  &.right {
    #progressBar {
      width: calc(100% - 200px);
      margin-left: -200px;
    }
  }

  &.bottom {
    bottom: 140px;
  }
}

#progressBar {
  width: 100%;
  margin-top: 20px;
}

@media only screen and (max-width: 980px) {
  #controls {
    .mobileFooterActions {
      flex-direction: column;
      height: 220px;
      padding: 20px;

      > div {
        justify-content: center !important;
        align-items: center !important;
      }
    }
  }

  #progress {
    &.right {
      #progressBar {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
