$imgSize: 160px;

.feature {
  margin-bottom: 40px;
}

.img {
  height: $imgSize;
  width: $imgSize;
}

.featureImg {
  font-size: 56px;
  // margin: 0 1rem;
  margin-right: 1rem;
  display: block;
  // float: left;
  // text-align: center;
}

.featureTitle {
  display: flex;
  align-items: flex-end;
}
