name: 'Tests'
on: [push]

env:
  TF_CPP_MIN_LOG_LEVEL: 2

jobs:
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm liteinstall

      - name: 'Lint'
        run: 'pnpm lint'

  build:
    name: 'Build'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm liteinstall

      - name: 'Build'
        run: 'pnpm --filter=!"@upscalerjs/models" --filter=!"@upscalerjs/scripts" --filter=!"@upscalerjs/examples.*" build'

      - name: 'Validate'
        run: 'pnpm --filter "*" validate:build'

  unit-browser-jest:
    name: 'Unit / Browser / Jest'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Unit Tests / Jest'
        working-directory: ./packages/upscalerjs
        run: pnpm test:unit:browser:jest

      - name: 'Upload Unit Browser Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-test-unit-browser-jest
          path: |
            ./packages/upscalerjs/coverage/coverage-final.json

  unit-browser-playwright:
    name: 'Unit / Browser / Playwright'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Unit Tests / Playwright'
        working-directory: ./packages/upscalerjs
        run: pnpm test:unit:browser:playwright

      - name: 'Upload Unit Browser Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-test-unit-browser-playwright
          path: |
            ./packages/upscalerjs/.nyc_output/coverage-pw.json


  unit-node:
    name: 'Unit / Node'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Unit Tests'
        working-directory: ./packages/upscalerjs
        run: pnpm test:unit:node

      - name: 'Upload Unit Node Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-test-unit-node
          path: ./packages/upscalerjs/coverage/coverage-final.json

  upload-to-codecov:
    name: 'Upload to CodeCov'
    runs-on: ubuntu-latest
    needs: [ unit-node, unit-browser-jest, unit-browser-playwright ]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v2

      - name: 'Codecov'
        uses: codecov/codecov-action@v3
        with:
          verbose: true

  integration-browser-browserstack:
    name: 'Integration / Browser / Browserstack'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'BrowserStack Env Setup'  # Invokes the setup-env action
        uses: browserstack/github-actions/setup-env@master
        with:
          username: ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Integration Tests'
        run: pnpm test:integration:browserstack --ci
        env:
          NODE_OPTIONS: --max_old_space_size=8192

  integration-browser-local:
    name: 'Integration / Browser / Local'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'BrowserStack Env Setup'  # Invokes the setup-env action
        uses: browserstack/github-actions/setup-env@master
        with:
          username: ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Integration Tests'
        run: pnpm test:integration:browser --ci
        env:
          NODE_OPTIONS: --max_old_space_size=8192

  integration-node-local-16:
    name: 'Integration / Node / Local / v16'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Integration Tests'
        run: pnpm test:integration:node --ci

  memory-leaks:
    name: 'Memory Leaks'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          # cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Memory Leak Tests'
        run: pnpm test:memory-leaks
