name: 'Tests'
on: [push]

jobs:
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm liteinstall

      - name: 'Lint'
        run: 'pnpm lint'

  unit-browser:
    name: 'Unit / Browser'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Unit Tests / Jest'
        working-directory: ./packages/upscalerjs
        run: pnpm test:unit:browser:jest

      - name: 'Unit Tests / Playwright'
        working-directory: ./packages/upscalerjs
        run: pnpm test:unit:browser:playwright

      - name: 'Codecov'
        uses: codecov/codecov-action@v3
        with:
          directory: ./packages/upscalerjs/coverage
          verbose: true

  unit-node:
    name: 'Unit / Node'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Unit Tests'
        working-directory: ./packages/upscalerjs
        run: pnpm test:unit:node

      - name: 'Codecov'
        uses: codecov/codecov-action@v1
        with:
          directory: ./packages/upscalerjs/coverage
          verbose: true

  integration-browser-browserstack:
    name: 'Integration / Browser / Browserstack'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'BrowserStack Env Setup'  # Invokes the setup-env action
        uses: browserstack/github-actions/setup-env@master
        with:
          username: ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Integration Tests'
        run: pnpm test:integration:browserstack --ci
        env:
          NODE_OPTIONS: --max_old_space_size=8192

  integration-browser-local:
    name: 'Integration / Browser / Local'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'BrowserStack Env Setup'  # Invokes the setup-env action
        uses: browserstack/github-actions/setup-env@master
        with:
          username: ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Integration Tests'
        run: pnpm test:integration:browser --ci
        env:
          NODE_OPTIONS: --max_old_space_size=8192

  integration-node-local-16:
    name: 'Integration / Node / Local / v16'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Integration Tests'
        run: pnpm test:integration:node --ci

  memory-leaks:
    name: 'Memory Leaks'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          # cache: 'pnpm'

      - name: 'Install dependencies'
        run: pnpm install --filter=!"@upscalerjs/examples.*"

      - name: 'Memory Leak Tests'
        run: pnpm test:memory-leaks
