name: 'Tests'
on: [pull_request]
jobs:
  unit:
    name: 'Unit'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - name: 'Building'
        run: yarn

      - name: 'Running test'
        run: yarn test:unit

  integration-browser:
    name: 'Integration / Browser'
    runs-on: ubuntu-latest
    steps:
      - name: 'BrowserStack Env Setup'  # Invokes the setup-env action
        uses: browserstack/github-actions/setup-env@master
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

      - name: 'BrowserStack Local Tunnel Setup'  # Invokes the setup-local action
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: start
          local-identifier: random

      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - name: 'Building'
        run: yarn

      - name: 'Running test'
        run: yarn test:integration:browser --ci

      - name: 'Stop'  # Terminating the BrowserStackLocal tunnel connection
        uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: stop
